---
layout: blog
---

<main class="content" role="main">


  <header class="blog-header">
      <h1 class="blog-title"><a href="{{ site.baseurl }}/" class="logo"><span class="logo">
        <amp-img src="/img/icon.jpg" width="48" height="48" />
      </span></a> CodeRoad Blog</h1>
      <h2 class="blog-description">{{ site.description }}</h2>
  </header>

  <div class="cf frame">
    {% for post in site.categories.blog limit:10 %}
      <article class="post" itemscope itemtype="http://schema.org/BlogPosting" role="article">
        <div class="article-item">
          <header class="post-header">
            <h2 class="post-title" itemprop="name"><a href="{{ site.baseurl }}{{ post.url }}" itemprop="url">{{ post.title }}</a></h2>
          </header>
          <br />
          <section class="post-excerpt" itemprop="description">
            <p>{{ post.excerpt | strip_html | truncatewords: 50 }}</p>
          </section>
          <div class="post-meta">
            <time datetime="{{ post.date | date_to_long_string }}">{{ post.date | date_to_long_string }}</time>
          </div>
        </div>
      </article>
    {% endfor %}
  </div>

</main>

{% include blog/footer.html %}
