---
layout: landing
---

<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>{{ site.title }}</h2>
		<p>{{ site.description | markdownify }}</p>
		<ul class="actions">
			<li><a href="/atom-coderoad.html" class="button special">Quick Start</a></li>
		</ul>
	</div>
	<a href="#one" class="more scrolly">Learn More</a>
</section>

<!-- One -->
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>About CodeRoad</h2>
			<p>CodeRoad is a coding education platform aimed at creating interactive coding lessons. CodeRoad makes it easy to create, share, edit, and publish video-game-like tutorials that run alongside your code in the editor. It currently works with Javascript & Python, with more languages to come.</p>
		</header>
		<ul class="icons major">
			{% for lang in site.languages %}
				{% include language-icon.html language=lang.name icon=lang.icon %}
			{% endfor %}
		</ul>
	</div>
</section>

<!-- Two -->
<section id="two" class="wrapper alt style2">

	<!-- Atom CodeRoad -->
	<section class="spotlight wide">
		<div class="image" >
			<a id="atom-coderoad" href="#atom-coderoad-demo" class="modal-link">
				<img alt="Atom-CodeRoad Demo"
				src="images/demos/atom-coderoad.jpg"/>
			</a>
		</div>

		<div class="content">
			<h2>Inside Your Code Editor</h2>

			<p>CodeRoad is a free plugin for the popular
				<a href="https://atom.io">Atom Editor</a>.
				<br /> With the "atom-coderoad" plugin, code in a real editor environment alongside your other favorite plugins.</p>
			<ul class="actions">
				<li><a href="/atom-coderoad.html" class="button special">Atom-CodeRoad</a></li>
			</ul>
		</div>
	</section>

	<!-- Builder-CodeRoad -->
	<section class="spotlight wide">
		<div class="image">
			<a id="builder-coderoad" href="#builder-coderoad-demo" class="modal-link">
				<img alt="Builder CodeRoad Demo"
				src="images/demos/builder-demo.jpg" />
			</a>
		</div>
		<div class="content">
			<h2>Create your Own Tutorials</h2>
			<p>Build tutorials using simple and familiar tools: <a href="//www.markdowntutorial.com/">Markdown</a> & unit tests. Making tutorials is easy with the new "builder-coderoad" plugin.</p>
			<ul class="actions">
				<li><a href="/builder-coderoad.html" class="button special">Builder-CodeRoad</a></li>
			</ul>
		</div>
	</section>

	<!-- Publish -->
	<section class="spotlight wide">
		<div class="image">
			<img alt="Publish Tutorial"
			src="images/demos/publish.png" />
		</div>
		<div class="content">
			<h2>Publish Free & Open</h2>
			<p>Version control & share your tutorials over <a href="//npmjs.com">NPM</a>. Iterate and publish updates. Use Git to build & collaborate on courses.</p>
		</div>
	</section>
</section>

<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Tutorials</h2>
			<p>Interactive lessons = learning faster. Look forward to more tutorials in the near future.</p>
		</header>

			{% include tutorial-list.html %}

	</div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h2>Accelerated Education</h2>
			<p>Find out more about how to setup CodeRoad and get started learning and creating.</p>
		</header>
		<ul class="actions vertical">
			<li><a href="/atom-coderoad.html" class="button fit special">Quick Start</a></li>
				<li><a href="/overview.html" class="button fit">Overview</a></li>
		</ul>
	</div>
</section>


<!-- modals -->
{% include modal.html id="atom-coderoad-demo" title="Atom-CodeRoad" image="atom-coderoad.gif" %}
{% include modal.html id="builder-coderoad-demo" title="Builder-CodeRoad" image="builder-demo.gif" %}
