---
layout: landing
---

<!-- Banner -->
<section id="banner">
	<div class="inner">
		<h2>{{ site.title }}</h2>
		<p>{{ site.description | markdownify }}</p>
		<ul class="actions">
			<li><a href="/atom-coderoad.html#install" class="button special">Quick Start</a></li>
		</ul>
	</div>
	<a href="#one" class="more scrolly">Learn More</a>
</section>

<!-- One -->
{% for summary in site.categories.summary %}
<section id="one" class="wrapper style1 special">
	<div class="inner">
		<header class="major">
			<h2>{{summary.title}}</h2>
			{{summary.content}}
		</header>
		<ul class="icons major">
			{% for lang in summary.languages %}
				{% include language-icon.html language=lang.name icon=lang.icon %}
			{% endfor %}
		</ul>
	</div>
</section>
{% endfor %}

<!-- Two -->
<section id="two" class="wrapper alt style2">

	<!-- Features -->

  <!-- Feature: Atom-CodeRoad -->
  <section class="spotlight wide">
		<div class="image" style="display: flex; justify-content: center;">
        <iframe
          width="574px"
          height="328px"
          src=""
          data-src="https://www.youtube.com/embed/PkhjmNLM5uE"
          frameborder="0"
          allowfullscreen></iframe>
    </div>
    <div class="content">
			<h2>Tutorials in your Code Editor</h2>
			CodeRoad is a free plugin for the popular [Atom Editor]("https://atom.io").
      With the "atom-coderoad" plugin, take tutorials in a real editor environment alongside your other favorite plugins.
			<ul class="actions" style="margin-top: 30px;">
				<li><a href="/atom-coderoad.html" class="button special">Atom-CodeRoad</a></li>
			</ul>
		</div>
  </section>

  <!-- Feature: Tutorial -->

  <section class="spotlight wide">
		<div class="image" style="display: flex; justify-content: center;">
      <div style="text-align: center; text-transform: uppercase; letter-spacing: .225em; border: solid 1px white; border-radius: 5%; padding: 10px; width: 250px;">
        <h2>Tutorial</h2>
        <span>Markdown</span><br />
        <span>+</span><br />
        <span>Tests</span><br />
        <span>+</span><br />
        <span>Config</span>
      </div>
    </div>
    <div class="content">
			<h2>Create your Own Tutorials</h2>
			Build tutorials using simple and familiar tools: Markdown & Unit Tests. Making tutorials is easy with the new Builder-CodeRoad plugin.
			<ul class="actions" style="margin-top: 30px;">
				<li><a href="/builder-coderoad.html" class="button special">Builder-CodeRoad</a></li>
			</ul>
		</div>
  </section>

  <!-- Feature: Publish -->

  <section class="spotlight wide">
		<div class="image">
       <img alt="npm publish packages" src="images/landing/npm-logo.svg" height="100px" width="100px" />
    </div>
    <div class="content">
			<h2>Publish Free & Open</h2>
			Version control & share your tutorials over <a href="https://npmjs.com">NPM</a>. Iterate and publish updates. Use Git to build & collaborate on courses.
		</div>
  </section>

<!-- Three -->
<section id="three" class="wrapper style3 special">
	<div class="inner">
		<header class="major">
			<h2>Tutorials</h2>
			<p>Interactive lessons = learning faster. Look forward to more tutorials in the near future.</p>
		</header>
		{% include tutorial-list.html %}
	</div>
</section>

<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h2>Accelerated Education</h2>
			<p>Find out more about how to setup CodeRoad and get started learning and creating.</p>
		</header>
		<ul class="actions vertical">
			<li><a href="/atom-coderoad.html#install" class="button fit special">Quick Start</a></li>
				<li><a href="/overview.html" class="button fit">Overview</a></li>
		</ul>
	</div>
</section>