---
layout: page
title: Tutorial Docs
tagline: Tutorial Building API
---

<div id="docs" role="main">
	<blockquote>
		The docs are a deeper read. It's recommended you get setup with the plugins and gain an understanding of how CodeRoad works before continuing.
	</blockquote>
	<!-- OverView -->
	<section id="suggestions">
		<ul class="actions" style="text-align: center;">
			<li>
				<a class="button special" href="/atom-coderoad.html">Quick Start</a>
			</li>
			<li>
				<a class="button" href="/builder-coderoad.html">Builder Start</a>
			</li>
			<li>
				<a class="button" href="/overview.html">Overview</a>
			</li>
		</ul>
	</section>

	<!-- Articles -->
	{% for doc in site.categories.docs reversed %}
		{% include docs.html
			id=doc.id
			title=doc.title
			content=doc.content
			editPath="//github.com/coderoad/coderoad.github.io/edit/master/_posts/tutorial-docs"
			file=doc.file
		%}
	{% endfor %}

</div>
