<!-- About Section -->
<section id="about" class="container content-section text-center">

  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <br/>
      <br/>
      <iframe width="640" height="360" src="https://www.youtube.com/embed/oqPDbGReKr0" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <br/>
        <br/>
        <h2>About CodeRoad</h2>
        <br/>
        <div class="lead">CodeRoad is a coding education platform aimed at open-sourcing interactive coding lessons. CodeRoad makes it easy for developers and teachers to create, share and edit their own lessons. All free.</div>
        <br/>
        <div class="lead">CodeRoad is currently under early development.</div>

      </div>
    </div>
</section>
