<section id="about" class="about container content-section text-center">

  <div class="row content-section-a">
    <div class="col-lg-10 col-lg-offset-1">
      <br/>
      <h3>About CodeRoad</h3>
      <div class="lead">CodeRoad is a coding education platform aimed at open-sourcing interactive coding lessons for any programming language. CodeRoad makes it easy for developers and teachers to create, share, edit, and publish their own video-game like lessons that run in the Atom Editor. All free, using familiar developer tools like Markdown & unit tests.</div>
    </div>
  </section>
