<section id="contact">
	<div class="banner">

		<ul class="banner-social-buttons">
			<h2>Contact</h2><br>
			<li>
				<a href="https://twitter.com/coderoadapp" class="btn btn-default"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">@coderoadapp</span></a>
			</li><br><br>
			<li>
				<a href="mailto:coderoadapp@gmail.com?subject=CodeRoad" class="btn btn-default"><i class="fa fa-envelope-o fa-reply"></i><span class="network-name"> Email</span></a>
			</li><br><br>
			<li>
				<a href="https://coderoad.herokuapp.com" class="btn btn-default">
					<span class="network-name">Development Boards</span>
				</a>
			</li>
		</ul>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->
