<section id="contact">
	<div class="banner">
		<div class="container">
			<ul class="banner-social-buttons">
				<li id="mc_embed_signup">
					<form class="form-inline" action="//herokuapp.us11.list-manage.com/subscribe/post?u=324732fa284e63ca555b47978&amp;id=5f3f4f5086" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
						<label class="sr-only" style="text-align:center">Subscribe to our mailing list</label>
						<div class="form-group">
							<input type="email" value="" class="form-control" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" style="font-family: Lato,Helvetica,Arial,sans-serif" required>
							<button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">
								<i class="fa fa-envelope-o fa-fw"></i>
								<span class="network-name"> Subscribe To Mail List</span>
							</button>
							<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
							<div style="position: absolute; left: -5000px;" aria-hidden="true">
								<input type="text" name="b_324732fa284e63ca555b47978_5f3f4f5086" tabindex="-1" value="">
							</div>
						</div>
					</form>
				</li>
				<li>
					<a href="https://twitter.com/coderoadapp" class="btn btn-default"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">@coderoadapp</span></a>
				</li>
				<li>
					<a href="mailto:coderoadapp@gmail.com?subject=CodeRoad" class="btn btn-default"><i class="fa fa-envelope-o fa-reply"></i><span class="network-name"> Email</span></a>
				</li>
			</ul>
		</div>
		<!-- /.container -->

	</div>
</section>
<!-- /.banner -->
