<head>

  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="{{ site.description }}" />
  <meta name="author" content="{{ site.author }}" />
  <meta name="robots" content="index, follow">
  <meta name="google-site-verification" content="VJIgsbPgP-hRknYcXCVkjVBR0QZg6MaS-kpa9Gp0XY8" />
  <meta name="msvalidate.01" content="1094FA9F7A148483624E60DBEE3DDC89" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ site.title }}" />
  <meta name="twitter:description" content="{{ site.description }}" />
  <meta name="twitter:image" content="{{ site.image }}" />
  <meta name="twitter:creator" content="@sh_mck" />
  <meta name="twitter:site" content="@coderoadapp" />

  <meta property="og:url" content="https://coderoad.github.io" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:image" content="{{ site.image }}" />

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  <link href="/css/landing-page.min.css" rel="stylesheet" />
</head>
