<!-- About Section -->
<section id="image-example" class="content-section-a text-center">

  <div class="row">
    <div class="col-lg-10 col-lg-offset-1">
      <br/>
      <img src="/img/gif/atom-coderoad-0.5.1.gif" width="80%"/>

      <div class="col-lg-10 col-lg-offset-1">
        <br><br>
          <a href="/docs/#install" target="_blank" class="btn btn-default btn-lg">
            <span class="network-name">Quick Start</span>
          </a>
          <br>
          <br>
          <div class="lead">Learn how to get setup with CodeRoad</div>
      </div>
</section>
