<section id="learn">
  <!-- Page Content -->

  <div class="content-section-b">

    <div class="container">
      <!-- <h2 style="text-align:center">Why Study with CodeRoad</h2> -->

      <div class="row learn">
        <div class="col-lg-4 col-sm-4">
          <!-- <hr class="section-heading-spacer"> -->
          <div class="clearfix"></div>
          <h2 class="section-heading">
            <i class="fa fa-forward"></i>
            Learn Faster
            <i class="fa fa-forward"></i>
          </h2>
          <div class="lead">The science is in: people learn best by doing, with quick and helpful feedback or hints in a real working environment.<br><br>If you like CodeCademy, we hope you'll love CodeRoad</div>
        </div>

        <div class="col-lg-4 col-sm-4">
          <!-- <hr class="section-heading-spacer"> -->
          <div class="clearfix"></div>
          <h2 class="section-heading">Free & Open
            <i class="fa fa-folder-open-o"></i>
          </h2>
          <div class="lead">Use Git to build & collaborate on courses.<br><br>
            Version control & share your tutorials over NPM</div>
        </div>

        <div class="col-lg-4 col-sm-4">
          <!-- <hr class="section-heading-spacer"> -->
          <div class="clearfix"></div>
          <h2 class="section-heading">Inside of
            <a href="https://atom.io" target="_blank"><img src="img/atom-editor.png" height="34px" width="34px"/></a>
          </h2>
          <div class="lead">Atom-CodeRoad is a free plugin for the
            <a href="https://atom.io" target="_blank">Atom Editor</a>.
            <br><br>
            Code in a real environment alongside your favorite plugins.
          </div>
        </div>

      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.content-section-a -->
</section>
