<section id="learn">
  <!-- Page Content -->

  <div class="content-section-a">

    <div class="container">

      <div class="row">
        <div class="col-lg-4 col-sm-6">
          <!-- <hr class="section-heading-spacer"> -->
          <div class="clearfix"></div>
          <h2 class="section-heading">Learn Faster</h2>
          <div class="lead">The science is in: people learn best by doing, with quick feedback in a real world environment.</div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <!-- <hr class="section-heading-spacer"> -->
          <div class="clearfix"></div>
          <h2 class="section-heading">Free & Open-Sourced</h2>
          <div class="lead">Build, collaborate and contribute to courses or curriculum online. Incrementally make version controlled tutorials better with updates and pull requests.
          </div>
        </div>

        <div class="col-lg-4 col-sm-6">
          <!-- <hr class="section-heading-spacer"> -->
          <div class="clearfix"></div>
          <h2 class="section-heading">Inside of the Editor</h2>
          <div class="lead">Atom-CodeRoad is built inside the free <a href="https://atom.io" target="_blank">Atom Editor</a>. Code with your favorite packages.
          </div>
        </div>


        <!-- <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <img class="img-responsive" src="img/services/feedback.png" alt="">
        </div> -->
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.content-section-a -->
</section>

<section id="build">

</section>
