<section id="learn">
  <!-- Page Content -->

  <div class="content-section-b">

    <div class="container">
      <!-- <h2 style="text-align:center">Why Study with CodeRoad</h2> -->

      <div class="row learn">
        <div class="col-lg-4 col-sm-4">
          <!-- <hr class="section-heading-spacer"> -->
          <div class="clearfix"></div>
          <h2 class="section-heading"><i class="fa fa-forward"></i> Learn Faster  <i class="fa fa-forward"> </i></h2>
          <div class="lead">The science is in: people learn best by doing, with quick feedback in a real world environment.</div>
        </div>

        <div class="col-lg-4 col-sm-4">
          <!-- <hr class="section-heading-spacer"> -->
          <div class="clearfix"></div>
          <h2 class="section-heading">Free & Open <i class="fa fa-folder-open-o"></i></h2>
          <div class="lead">Build, collaborate and contribute to version controlled courses over Github.
          </div>
        </div>

        <div class="col-lg-4 col-sm-4">
          <!-- <hr class="section-heading-spacer"> -->
          <div class="clearfix"></div>
          <h2 class="section-heading">Inside of <a href="https://atom.io" target="_blank"><img src="img/atom-editor.png" height="34px" width="34px" /></a></h2>
          <div class="lead">Atom-CodeRoad is a plugin for the free <a href="https://atom.io" target="_blank">Atom Editor</a>. Code with your favorite packages.
          </div>
        </div>


        <!-- <div class="col-lg-5 col-lg-offset-2 col-sm-6">
          <img class="img-responsive" src="img/services/feedback.png" alt="">
        </div> -->
      </div>

    </div>
    <!-- /.container -->

  </div>
  <!-- /.content-section-a -->
</section>
