.spotlight > .code-block {
  padding: 10px;
}

.wide {
  padding-top: 75px;
  padding-bottom: 75px;
}

.fa-2x:hover {
  opacity: 0.85;
}

a.smooth:hover {
  h5 {
    color: #ef5e4a;
  }
}

.fluid-image {
  width: 90%;
}

/* Portrait */
@media (max-width: 850px) {
  .edit-docs {
    display: none;
  }
  .gif {
    display: none;
  }
}
