.wide {
  padding-top: 75px;
  padding-bottom: 75px;
}

.fa-2x:hover {
  opacity: 0.85;
}

.edit-docs {
  float: right;
}

/* Portrait */
@media (max-width: 850px) {
  .edit-docs {
    display: none;
  }
}
