.spotlight > .code-block {
  padding: 10px;
}

.wide {
  padding-top: 75px;
  padding-bottom: 75px;
}

.fa-2x:hover {
  opacity: 0.85;
}

a.smooth:hover {
  h5 {
    color: #ef5e4a;
  }
}

.doc-contents {
  padding: 20px 50px;
  background-color: _palette(border-bg);
  border-radius: 3px;
  margin: 0 auto;
  max-width: 400px;
}

.doc-image {
  border-radius: 3px;
  max-width: 90%;
}

.edit-docs {
  float: right;
}

/* Portrait */
@media (max-width: 850px) {
  .edit-docs {
    display: none;
  }
}
