.doc-contents {
  // padding: 10px 50px;
  // background-color: rgba(27,43,52, 0.05);
  border-radius: 3px;
  margin: 0;
  max-width: 400px;
  list-style: none;
  margin-left: 50px;
}

.doc-image {
  border-radius: 3px;
  max-width: 90%;
}

.edit-docs {
  float: right;
}

@media (min-width: 850px) {
  .doc-contents {
    font-size: 0.9em;
  }
}
