.modal {
  margin-top: 45px;
}

a.modal-link:before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-size: 100%;
  background: url('../css/images/play.svg') center no-repeat;
  opacity: .50;
}
a.modal-link:hover:before {
  opacity: .55;
}
