<!-- Scripts -->
<script src="{{ " /js/lib/jquery.min.js " | prepend: site.baseurl }}"></script>

<script src="{{ " /js/lib/jquery.scrollex.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ " /js/lib/jquery.scrolly.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ " /js/lib/skel.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ " /js/lib/animatedModal.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ " /js/lib/util.min.js " | prepend: site.baseurl }}"></script>
<!--[if lte IE 8]><script src="{{ "/js/ie/respond.min.js" | prepend: site.baseurl }}"></script><![endif]-->
<script src="{{ " /js/main.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ " /js/modals.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ " /js/lib/png2gif.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ " /js/lib/jquery.lazyload.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ " /js/lib/jquery.smoothscroll.min.js " | prepend: site.baseurl }}"></script>
<script>!function(e,t,a,n,c,s,o){e.GoogleAnalyticsObject=c,e[c]=e[c]||function(){(e[c].q=e[c].q||[]).push(arguments)},e[c].l=1*new Date,s=t.createElement(a),o=t.getElementsByTagName(a)[0],s.async=1,s.src=n,o.parentNode.insertBefore(s,o)}(window,document,"script","https://www.google-analytics.com/analytics.js","ga"),ga("create","UA-44377274-8","auto"),ga("send","pageview");
</script>
