<!-- Scripts -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<script src="{{ " /js/lib/jquery.scrollex.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ " /js/lib/jquery.scrolly.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ " /js/lib/skel.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ " /js/lib/animatedModal.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ " /js/lib/util.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ " /js/lib/png2gif.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ " /js/lib/jquery.lazyload.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ " /js/lib/jquery.smoothscroll.min.js " | prepend: site.baseurl }}"></script>
<!--[if lte IE 8]><script src="{{ "/js/ie/respond.min.js" | prepend: site.baseurl }}"></script><![endif]-->
<script src="{{ " /dist/build.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ " /js/lib/ga.min.js " | prepend: site.baseurl }}"></script>
