<section id="tutorials" class="content-section-a text-center">
  <div class="row">
    <div class="row">
      <div class="col-xs-6">
        <h2>Try a Tutorial</h2>
        <br>
        <ul class="list-inline intro-social-buttons">
          {% for tutorial in site.tutorials %}
          <li>
            <!-- <h3>{{ social.purpose }}</h3> -->
            <a href="{{ tutorial.url }}" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-{{ tutorial.icon }} fa-fw"></i> <span class="network-name">{{ tutorial.title }}</span></a>
            <br>
            <br>
            <div class="lead">{{tutorial.description}}
            <br><br>
            <code class="social-instructions">> {{tutorial.instructions}}</code>
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>

      <div class="col-xs-6">
        <h2>Make Your Own</h2>
        <br>
        <ul class="list-inline intro-social-buttons">

          <li>
            <!-- <h3>{{ social.purpose }}</h3> -->
            <a href="/build" class="btn btn-default btn-lg"><i class="fa fa-road fa-fw"></i> <span class="network-name">Create a Tutorial</span></a>
            <br>
            <br>
            <div class="lead">Learn how to build your own interactive tutorials for CodeRoad
            using Markdown & Unit Tests</div>
          </li>
        </ul>
      </div>

    </div>
  </div>
</section>
